<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <div class="result">
            <h4>Your data was send successfully to Host</h4>
            <i class="fa-regular fa-face-grin-squint-tears icon"></i>
            <form method="get" action="/user">
            <button class="btn btn-outline-secondary bt"> Go Back</button>
          </form>
        </div>    
    
</body>
</html>
